:root [data-bs-theme=dark] {
    --bs-body-bg: #211A1E !important;
    --bs-primary: #F46036 !important;
    --bs-primary-rgb: 244, 96, 54 !important;
    --bs-link-color-rgb: 244, 96, 54 !important;
    --bs-link-hover-color-rgb: 244, 96, 54 !important;
    --bs-link-color: #F46036 !important;
    --bs-link-hover-color: #F46036 !important;
    --bs-tertiary-bg: #2C2C34 !important;
}

.btn {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}


.form-control:focus {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0.25rem rgba(var(--bs-primary-rgb),.75) !important;
}

.form-check-input:checked {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    display: none
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: calc(50dvh - 4rem) auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: var(--bs-primary);
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(50dvh - 0.75rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}
