/* /Layout/MainLayout.razor.rz.scp.css */
a svg[b-6xmr3ymg44] {
	fill: white;
}
/* /Pages/Index.razor.rz.scp.css */
section[b-2j0m7xkzog] {
	flex-basis: 40%;
	flex-grow: 1;
	flex-shrink: 1;
}
/* /Pages/PerlinNoise2D.razor.rz.scp.css */
section#configuration[b-5rp2m40qau] {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result[b-5rp2m40qau] {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;

	& div:has(img) {
		padding: 0;
		display: grid;

		& img {
			width: 100%;
			image-rendering: pixelated;
			grid-row: 1 / span 1;
			grid-column: 1 / span 1;
		}

		& svg[b-5rp2m40qau] {
			grid-row: 1 / span 1;
			grid-column: 1 / span 1;
			stroke-width: 1px;
			stroke: rgba(44, 44, 52, .5);
		}
	}
}

.arrow[b-5rp2m40qau] {
	stroke-linecap: round;
	stroke-width: 1px;
	stroke: var(--theme-primary);
}
/* /Pages/PerlinNoise3D.razor.rz.scp.css */
section#configuration[b-ovjj51x463] {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result[b-ovjj51x463] {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;

	& img {
		padding: 0;
		image-rendering: pixelated;
		width: 100%;
	}
}
/* /Pages/SimplexNoise.razor.rz.scp.css */
section#configuration[b-ljpdtxa4c4] {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result[b-ljpdtxa4c4] {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;

	& img {
		width: 100%;
		image-rendering: pixelated;
		aspect-ratio: 1.0;
		border-radius: 0 0 8px 8px;
	}
}
/* /Pages/VoronoiDiagramDelaunay.razor.rz.scp.css */
section#configuration[b-4vec6p1f6j] {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result[b-4vec6p1f6j] {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;
}

svg .site[b-4vec6p1f6j] {
	fill: var(--theme-primary);
}

svg .circle[b-4vec6p1f6j] {
	fill: transparent;
	stroke: rgba(255, 255, 255, .05);
}

svg .circle-center[b-4vec6p1f6j] {
	fill: red;
}
/* /Pages/VoronoiDiagramFortune.razor.rz.scp.css */
section#configuration[b-d6e4ltqfwd] {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result[b-d6e4ltqfwd] {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;
}

svg .site[b-d6e4ltqfwd] {
	fill: var(--theme-primary);
}

svg .sweep-line[b-d6e4ltqfwd] {
	stroke: var(--theme-primary-light);
	stroke-width: 0.75px;
}

svg .beach-line[b-d6e4ltqfwd] {
	fill: none;
	stroke: var(--theme-primary);
	stroke-width: 0.75px;
	stroke-linecap: round;
}

svg .parabola[b-d6e4ltqfwd] {
	fill: none;
	stroke: rgba(255, 255, 255, .15);
	stroke-width: 0.75px;
}

svg .test[b-d6e4ltqfwd] {
	fill: red;
}
