@inherits LayoutComponentBase

<nav class="navbar bg-primary">
	<div class="container">

		<a class="navbar-brand" href="./">PGAL Demo</a>

	</div>
</nav>

<main class="container">
	@Body
</main>

<footer class="container fixed-bottom">
	<p class="text-center">Made with 💙 by <a href="https://github.com/Dotpys">Dotpys</a></p>
</footer>
