:root {
    --theme-primary: #F46036;
    --theme-background: #211A1E;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}