main {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	gap: 1rem;
}

::deep > section#section-configuration {
	flex-basis: 200px;
	flex-grow: 1;
}

::deep > section#section-result {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;

	& div:has(canvas) {
		padding: 0;
		display: grid;

		& canvas {
			grid-row: 1 / span 1;
			grid-column: 1 / span 1;
			width: 100%;
			image-rendering: pixelated;
		}

		& svg {
			grid-row: 1 / span 1;
			grid-column: 1 / span 1;
			stroke-width: 1px;
			stroke: rgba(44, 44, 52, .5);
		}
	}
}

.arrow {
	stroke-linecap: round;
	stroke-width: 1px;
	stroke: var(--theme-primary);
}
