section#configuration {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;
}

svg .site {
	fill: var(--theme-primary);
}

svg .circle {
	fill: transparent;
	stroke: rgba(255, 255, 255, .05);
}

svg .circle-center {
	fill: red;
}
