section#configuration {
	flex-basis: 200px;
	flex-grow: 1;
}

section#result {
	flex-basis: 60%;
	flex-grow: 2;
	flex-shrink: 1;
}

svg .site {
	fill: var(--theme-primary);
}

svg .sweep-line {
	stroke: var(--theme-primary-light);
	stroke-width: 0.75px;
}

svg .beach-line {
	fill: none;
	stroke: var(--theme-primary);
	stroke-width: 0.75px;
	stroke-linecap: round;
}

svg .parabola {
	fill: none;
	stroke: rgba(255, 255, 255, .15);
	stroke-width: 0.75px;
}

svg .test {
	fill: red;
}
